@import '../../styles/_reset.scss';
@import '../../styles/_helpers.scss';
@import '../../styles/_vars.scss';

.countries-list {
	// background-color: coral;
	display: flex;
	gap: 4.65rem;

	// mobile
	@media (width < $threshold-width-header) {
		flex-direction: column;
		align-items: center;
		padding-inline: var(--padding-inline-mobile);
		// padding-block: 1.5rem;
	}

	// desktop
	@media (width >= $threshold-width-header) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding-inline: var(--padding-inline-desktop);
		// padding-block: 3rem;
	}
}
