@import '../styles/_reset.scss';
@import '../styles/_helpers.scss';
@import '../styles/_vars.scss';

.country-details {
	// mobile
	@media (width < $threshold-width-header) {
		padding-inline: var(--padding-inline-mobile);
	}

	// desktop
	@media (width >= $threshold-width-header) {
		padding-inline: var(--padding-inline-desktop);
	}

	> .country-flag {
		// mobile
		@media (width < $threshold-width-header) {
			// inline-size: 20rem;
			inline-size: 100%;
		}

		// desktop
		@media (width >= $threshold-width-header) {
			inline-size: 35rem;
		}
	}

	> .country-statistic {
		> .neighbor-countries-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			justify-content: flex-start;
			gap: 0.5rem;
		}
	}
}
